@page "/"
@attribute [Authorize]

<h1 class="sr-only">MoodLift Dashboard</h1>

<div class="ml-grid">
    <a class="tile tile--form" href="/form">
        <div class="tile__text">Track Your Mood</div>
    </a>
    <a class="tile tile--tips" href="/tips">
        <div class="tile__text">Mood Tips</div>
    </a>
    <a class="tile tile--analytics" href="/analytics">
        <div class="tile__text">View Analytics</div>
    </a>
    <a class="tile tile--music" href="/music">
        <div class="tile__text">Listen to Music</div>
    </a>
</div>